### 테이블 형태의 데이터를 쉽게 다루도록 도와주는 pandas 라이브러리

###### 1) 위키피디아 데이터 엑셀로 저장하기

In [1]:
import pandas as pd

df = pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table')
print(df)

[                                       Olympic Games
0                                        Main topics
1  Bids Boycotts Ceremonies Charter Host cities I...
2                                              Games
3  Summer Winter Youth Esports African Asian Euro...
4  .mw-parser-output .navbar{display:inline;font-...,                                                                                       Team  \
    .mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Team (IOC code)
0                                    Afghanistan (AFG)
1                                        Algeria (ALG)
2                                      Argentina (ARG)
3                                        Armenia (ARM)
4                              Australasia (ANZ) [ANZ]
..                                                 ...
152                               Zimbabwe (ZIM) [ZIM]
153           Independent Olympic Athletes (IOA) [IOA]
154       Independent Olympic Participants (IOP) [IOP]
155                             Mixed team (ZZX) [ZZX]
156                                             Totals

    Summer Olympic Games                                        \
                     No. Unnamed: 2_level_1 Unnamed: 3_level_1
0                     15                  0                  0
1                     14                  5                  4
2                     25                 21                 26
3                      7                  2                  8
4                      2                  3                  4
..                   ...                ...                ...
152                   14                  3                  4
153                    3                  1                  0
154                    1                  0                  1
155                    3                 11                  6
156                   29               5460               5429

                                          Winter Olympic Games  \
    Unnamed: 4_level_1 Unnamed: 5_level_1                  No.
0                    2                  2                    0
1                    8                 17                    3
2                   30                 77                   20
3                    8                 18                    8
4                    5                 12                    0
..                 ...                ...                  ...
152                  1                  8                    1
153                  1                  2                    0
154                  2                  3                    0
155                  8                 25                    0
156               5892              16781                   24

                                                              \
    Unnamed: 7_level_1 Unnamed: 8_level_1 Unnamed: 9_level_1
0                    0                  0                  0
1                    0                  0                  0
2                    0                  0                  0
3                    0                  0                  0
4                    0                  0                  0
..                 ...                ...                ...
152                  0                  0                  0
153                  0                  0                  0
154                  0                  0                  0
155                  0                  0                  0
156               1171               1169               1160

                        Combined total                      \
    Unnamed: 10_level_1            No. Unnamed: 12_level_1
0                     0             15                   0
1                     0             17                   5
2                     0             45                  21
3                     0             15                   2
4                     0              2                   3
..                  ...            ...                 ...
152                   0             15                   3
153                   0              3                   1
154                   0              1                   0
155                   0              3                  11
156                3500             53                6631


    Unnamed: 13_level_1 Unnamed: 14_level_1 Unnamed: 15_level_1
0                     0                   2                   2
1                     4                   8                  17
2                    26                  30                  77
3                     8                   8                  18
4                     4                   5                  12
..                  ...                 ...                 ...
152                   4                   1                   8
153                   0                   1                   2
154                   1                   2                   3
155                   6                   8                  25
156                6598                7052               20281

[157 rows x 16 columns],                      Team (IOC code)  No. Summer  No. Winter  No. Games
0                      Albania (ALB)           9           5         14
1               American Samoa (ASA)           9           2         11
2                      Andorra (AND)          12          13         25
3                       Angola (ANG)          10           0         10
4          Antigua and Barbuda (ANT)          11           0         11
..                               ...         ...         ...        ...
71     Republic of China (ROC) [ROC]           3           0          3
72                  Saar (SAA) [SAA]           1           0          1
73           North Yemen (YAR) [YAR]           2           0          2
74           South Yemen (YMD) [YMD]           1           0          1
75  Refugee Olympic Team (ROT) [ROT]           2           0          2

[76 rows x 4 columns],                                      Team Summer Olympic Games  \
                          Team (IOC code)                  No.
0                 Bohemia (BOH) [BOH] [Z]                    3
1         British West Indies (BWI) [BWI]                    1
2              Czechoslovakia (TCH) [TCH]                   16
3                East Germany (GDR) [GDR]                    5
4                West Germany (FRG) [FRG]                    5
5    Netherlands Antilles (AHO) [AHO] [I]                   13
6              Russian Empire (RU1) [RU1]                    3
7                Soviet Union (URS) [URS]                    9
8   Serbia and Montenegro (SCG) [YUG/SCG]                    3
9          Yugoslavia (YUG) [YUG to 1992]                   16
10                                 Totals                   24

                                                             \
   Unnamed: 2_level_1 Unnamed: 3_level_1 Unnamed: 4_level_1
0                   0                  1                  3
1                   0                  0                  2
2                  49                 49                 45
3                 153                129                127
4                  56                 67                 81
5                   0                  1                  0
6                   1                  4                  3
7                 395                319                296
8                   2                  4                  3
9                  26                 29                 28
10                682                603                588

                      Winter Olympic Games                     \
   Unnamed: 5_level_1                  No. Unnamed: 7_level_1
0                   4                    0                  0
1                   2                    0                  0
2                 143                   16                  2
3                 409                    6                 39
4                 204                    6                 11
5                   1                    2                  0
6                   8                    0                  0
7                1010                    9                 78
8                   9                    3                  0
9                  83                   14                  0
10               1873                   19                130

                                                             Combined total  \
   Unnamed: 8_level_1 Unnamed: 9_level_1 Unnamed: 10_level_1            No.
0                   0                  0                   0              3
1                   0                  0                   0              1
2                   8                 15                  25             32
3                  36                 35                 110             11
4                  15                 13                  39             11
5                   0                  0                   0             15
6                   0                  0                   0              3
7                  57                 59                 194             18
8                   0                  0                   0              6
9                   3                  1                   4             30
10                119                123                 372             43

                                                                \
   Unnamed: 12_level_1 Unnamed: 13_level_1 Unnamed: 14_level_1
0                    0                   1                   3
1                    0                   0                   2
2                   51                  57                  60
3                  192                 165                 162
4                   67                  82                  94
5                    0                   1                   0
6                    1                   4                   3
7                  473                 376                 355
8                    2                   4                   3
9                   26                  32                  29
10                 812                 722                 711


   Unnamed: 15_level_1
0                    4
1                    2
2                  168
3                  519
4                  243
5                    1
6                    8
7                 1204
8                    9
9                   87
10                2245  ,                                            Team Summer Olympic Games  \
                                Team (IOC code)                  No.
0                       Australasia (ANZ) [ANZ]                    2
1            United Team of Germany (EUA) [EUA]                    3
2                      Unified Team (EUN) [EUN]                    1
3      Olympic Athletes from Russia (OAR) [OAR]                    0
4                               ROC (ROC) [ROC]                    1
5      Independent Olympic Athletes (IOA) [IOA]                    3
6  Independent Olympic Participants (IOP) [IOP]                    1
7                        Mixed team (ZZX) [ZZX]                    3
8                                        Totals                   13

                                                                               \
  Unnamed: 2_level_1 Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
0                  3                  4                  5                 12
1                 28                 54                 36                118
2                 45                 38                 29                112
3                  0                  0                  0                  0
4                 20                 28                 23                 71
5                  1                  0                  1                  2
6                  0                  1                  2                  3
7                 11                  6                  8                 25
8                108                131                104                343

  Winter Olympic Games                                        \
                   No. Unnamed: 7_level_1 Unnamed: 8_level_1
0                    0                  0                  0
1                    3                  8                  6
2                    1                  9                  6
3                    1                  2                  6
4                    1                  6                 12
5                    0                  0                  0
6                    0                  0                  0
7                    0                  0                  0
8                    6                 25                 30

                                         Combined total                      \
  Unnamed: 9_level_1 Unnamed: 10_level_1            No. Unnamed: 12_level_1
0                  0                   0              2                   3
1                  5                  19              6                  36
2                  8                  23              2                  54
3                  9                  17              1                   2
4                 14                  32              2                  26
5                  0                   0              3                   1
6                  0                   0              1                   0
7                  0                   0              3                  11
8                 36                  91             19                 133


  Unnamed: 13_level_1 Unnamed: 14_level_1 Unnamed: 15_level_1
0                   4                   5                  12
1                  60                  41                 137
2                  44                  37                 135
3                   6                   9                  17
4                  40                  37                 103
5                   0                   1                   2
6                   1                   2                   3
7                   6                   8                  25
8                 161                 140                 434  ,                                                     0  \
0   Summer Olympics (including precursors)[edit] C...
1                                                 No.
2                                                   1
3                                                   2
4                                                   3
5                                                   4
6                                                   5
7                                                   6
8                                                   7
9                                                   8
10                                                  9
11                                                 10
12                                                No.
13                                                  1
14                                                  2
15                                                  3
16                                                  4
17                                                  5
18                                                  6
19                                                  7
20                                                  8
21                                                  9
22                                                 10

                                                    1     2       3       4  \
0   Summer Olympics (excluding precursors)[edit] S...   NaN     NaN     NaN
1                                              Nation  Gold  Silver  Bronze
2                                 United States (USA)  1061     830     738
3   Russia (RUS)incl. Russian Empire (RU1),Soviet ...   608     515     502
4   Germany (GER)incl. United Team of Germany (EUA...   438     457     491
5                                 Great Britain (GBR)   284     318     314
6                                         China (CHN)   263     199     174
7                                        France (FRA)   223     251     277
8                                         Italy (ITA)   217     188     213
9                                       Hungary (HUN)   181     154     176
10                                        Japan (JPN)   169     150     178
11                                    Australia (AUS)   164     173     210
12                                             Nation  Gold  Silver  Bronze
13                                United States (USA)  1061     830     738
14                                 Soviet Union (URS)   395     319     296
15                                Great Britain (GBR)   284     318     314
16                                        China (CHN)   263     199     174
17                                       France (FRA)   223     251     277
18                                        Italy (ITA)   217     188     213
19                                      Germany (GER)   201     207     247
20                                      Hungary (HUN)   181     154     176
21                                        Japan (JPN)   169     150     178
22                                    Australia (AUS)   164     173     210

        5
0     NaN
1   Total
2    2629
3    1625
4    1386
5     916
6     636
7     751
8     618
9     511
10    497
11    547
12  Total
13   2629
14   1010
15    916
16    636
17    751
18    618
19    655
20    511
21    497
22    547  ,    No.                                             Nation  Gold  Silver  \
0    1                                United States (USA)  1061     830
1    2  Russia (RUS)incl. Russian Empire (RU1),Soviet ...   608     515
2    3  Germany (GER)incl. United Team of Germany (EUA...   438     457
3    4                                Great Britain (GBR)   284     318
4    5                                        China (CHN)   263     199
5    6                                       France (FRA)   223     251
6    7                                        Italy (ITA)   217     188
7    8                                      Hungary (HUN)   181     154
8    9                                        Japan (JPN)   169     150
9   10                                    Australia (AUS)   164     173

   Bronze  Total
0     738   2629
1     502   1625
2     491   1386
3     314    916
4     174    636
5     277    751
6     213    618
7     176    511
8     178    497
9     210    547  ,    No.               Nation  Gold  Silver  Bronze  Total
0    1  United States (USA)  1061     830     738   2629
1    2   Soviet Union (URS)   395     319     296   1010
2    3  Great Britain (GBR)   284     318     314    916
3    4          China (CHN)   263     199     174    636
4    5         France (FRA)   223     251     277    751
5    6          Italy (ITA)   217     188     213    618
6    7        Germany (GER)   201     207     247    655
7    8        Hungary (HUN)   181     154     176    511
8    9          Japan (JPN)   169     150     178    497
9   10      Australia (AUS)   164     173     210    547,                                                     0  \
0   Winter Olympics (including precursors)[edit] C...
1                                                 No.
2                                                   1
3                                                   2
4                                                   3
5                                                   4
6                                                   5
7                                                   6
8                                                   7
9                                                   8
10                                                  9
11                                                 10

In [2]:
#인덱스를 이용하여 원하는 표를 개별 데이터프레임으로 지정
df[1]

                                                                                      Team  \
    .mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Team (IOC code)
0                                    Afghanistan (AFG)
1                                        Algeria (ALG)
2                                      Argentina (ARG)
3                                        Armenia (ARM)
4                              Australasia (ANZ) [ANZ]
..                                                 ...
152                               Zimbabwe (ZIM) [ZIM]
153           Independent Olympic Athletes (IOA) [IOA]
154       Independent Olympic Participants (IOP) [IOP]
155                             Mixed team (ZZX) [ZZX]
156                                             Totals

    Summer Olympic Games                                        \
                     No. Unnamed: 2_level_1 Unnamed: 3_level_1
0                     15                  0                  0
1                     14                  5                  4
2                     25                 21                 26
3                      7                  2                  8
4                      2                  3                  4
..                   ...                ...                ...
152                   14                  3                  4
153                    3                  1                  0
154                    1                  0                  1
155                    3                 11                  6
156                   29               5460               5429

                                          Winter Olympic Games  \
    Unnamed: 4_level_1 Unnamed: 5_level_1                  No.
0                    2                  2                    0
1                    8                 17                    3
2                   30                 77                   20
3                    8                 18                    8
4                    5                 12                    0
..                 ...                ...                  ...
152                  1                  8                    1
153                  1                  2                    0
154                  2                  3                    0
155                  8                 25                    0
156               5892              16781                   24

                                                              \
    Unnamed: 7_level_1 Unnamed: 8_level_1 Unnamed: 9_level_1
0                    0                  0                  0
1                    0                  0                  0
2                    0                  0                  0
3                    0                  0                  0
4                    0                  0                  0
..                 ...                ...                ...
152                  0                  0                  0
153                  0                  0                  0
154                  0                  0                  0
155                  0                  0                  0
156               1171               1169               1160

                        Combined total                      \
    Unnamed: 10_level_1            No. Unnamed: 12_level_1
0                     0             15                   0
1                     0             17                   5
2                     0             45                  21
3                     0             15                   2
4                     0              2                   3
..                  ...            ...                 ...
152                   0             15                   3
153                   0              3                   1
154                   0              1                   0
155                   0              3                  11
156                3500             53                6631


    Unnamed: 13_level_1 Unnamed: 14_level_1 Unnamed: 15_level_1
0                     0                   2                   2
1                     4                   8                  17
2                    26                  30                  77
3                     8                   8                  18
4                     4                   5                  12
..                  ...                 ...                 ...
152                   4                   1                   8
153                   0                   1                   2
154                   1                   2                   3
155                   6                   8                  25
156                6598                7052               20281

[157 rows x 16 columns]

In [3]:
#헤더를 열 이름으로 지정, 나라 이름을 인덱스 이름으로 지정하는 속성 추가
import pandas as pd

##열, 행의 0번 라인 삭제
df = pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table',
                 header=0, index_col=0)
df[1]

,Summer Olympic Games,Summer Olympic Games.1,Summer Olympic Games.2,Summer Olympic Games.3,Summer Olympic Games.4,Winter Olympic Games,Winter Olympic Games.1,Winter Olympic Games.2,Winter Olympic Games.3,Winter Olympic Games.4,Combined total,Combined total.1,Combined total.2,Combined total.3,Combined total.4
Team,,,,,,,,,,,,,,,
.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Team (IOC code),No.,NaN,NaN,NaN,NaN,No.,NaN,NaN,NaN,NaN,No.,NaN,NaN,NaN,NaN
Afghanistan (AFG),15,0.0,0.0,2.0,2.0,0,0.0,0.0,0.0,0.0,15,0.0,0.0,2.0,2.0
Algeria (ALG),14,5.0,4.0,8.0,17.0,3,0.0,0.0,0.0,0.0,17,5.0,4.0,8.0,17.0
Argentina (ARG),25,21.0,26.0,30.0,77.0,20,0.0,0.0,0.0,0.0,45,21.0,26.0,30.0,77.0
Armenia (ARM),7,2.0,8.0,8.0,18.0,8,0.0,0.0,0.0,0.0,15,2.0,8.0,8.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe (ZIM) [ZIM],14,3.0,4.0,1.0,8.0,1,0.0,0.0,0.0,0.0,15,3.0,4.0,1.0,8.0
Independent Olympic Athletes (IOA) [IOA],3,1.0,0.0,1.0,2.0,0,0.0,0.0,0.0,0.0,3,1.0,0.0,1.0,2.0
Independent Olympic Participants (IOP) [IOP],1,0.0,1.0,2.0,3.0,0,0.0,0.0,0.0,0.0,1,0.0,1.0,2.0,3.0
Mixed team (ZZX) [ZZX],3,11.0,6.0,8.0,25.0,0,0.0,0.0,0.0,0.0,3,11.0,6.0,8.0,25.0
Totals,29,5460.0,5429.0,5892.0,16781.0,24,1171.0,1169.0,1160.0,3500.0,53,6631.0,6598.0,7052.0,20281.0

In [8]:
#하계올림픽에 대한 데이터만 추출하기
summer = df[1].iloc[1:, :5]
summer

,Summer Olympic Games,Summer Olympic Games.1,Summer Olympic Games.2,Summer Olympic Games.3,Summer Olympic Games.4
Team,,,,,
Afghanistan (AFG),15,0.0,0.0,2.0,2.0
Algeria (ALG),14,5.0,4.0,8.0,17.0
Argentina (ARG),25,21.0,26.0,30.0,77.0
Armenia (ARM),7,2.0,8.0,8.0,18.0
Australasia (ANZ) [ANZ],2,3.0,4.0,5.0,12.0
...,...,...,...,...,...
Zimbabwe (ZIM) [ZIM],14,3.0,4.0,1.0,8.0
Independent Olympic Athletes (IOA) [IOA],3,1.0,0.0,1.0,2.0
Independent Olympic Participants (IOP) [IOP],1,0.0,1.0,2.0,3.0
Mixed team (ZZX) [ZZX],3,11.0,6.0,8.0,25.0
Totals,29,5460.0,5429.0,5892.0,16781.0

In [9]:
#컬럼(열) 이름 수정하기
summer.columns = ['경기수', '금', '은', '동', '계']
summer

,경기수,금,은,동,계
Team,,,,,
Afghanistan (AFG),15,0.0,0.0,2.0,2.0
Algeria (ALG),14,5.0,4.0,8.0,17.0
Argentina (ARG),25,21.0,26.0,30.0,77.0
Armenia (ARM),7,2.0,8.0,8.0,18.0
Australasia (ANZ) [ANZ],2,3.0,4.0,5.0,12.0
...,...,...,...,...,...
Zimbabwe (ZIM) [ZIM],14,3.0,4.0,1.0,8.0
Independent Olympic Athletes (IOA) [IOA],3,1.0,0.0,1.0,2.0
Independent Olympic Participants (IOP) [IOP],1,0.0,1.0,2.0,3.0
Mixed team (ZZX) [ZZX],3,11.0,6.0,8.0,25.0
Totals,29,5460.0,5429.0,5892.0,16781.0

In [25]:
#컬럼 정렬 예제)
import pandas as pd

df = pd.DataFrame([
    [16,7,10],
    [15,8,11],
    [14,9,12]],
    columns = ['a','b','c'],
    index = [1,2,3]
)
df
##(1) 컬럼을 기준으로 데이터프레임 정렬 - 'a'기준
df.sort_values('a')
##(2) 컬럼을 기준으로 시리즈 정렬 - 'a' 기준
df['a'].sort_values()
##(3) 정렬차순(내림차순)
df.sort_values('a', ascending=False)
##(4) 여러 컬럼을 기준으로 
df.sort_values(['b','c'], ascending=False)

    a  b   c
3  14  9  12
2  15  8  11
1  16  7  10

In [51]:
#금메달 기준으로 정렬하기
import pandas as pd

##데이터 불러오기
data = pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table',
                   header=0, index_col=0)
##데이터 인덱스 1번의 행은 1번부터 끝, 열은 처음부터 4까지
summer = data[1].iloc[1:, :5]
##칼럼(열) 이름 수정하기
summer.columns = ['경기수', '금', '은', '동', '계']
##'금'을 기준으로 내림차순 정렬
summer.sort_values('금', ascending=False, inplace=True)
summer

                                         경기수       금       은       동        계
Team
Totals                                    29  5460.0  5429.0  5892.0  16781.0
United States (USA) [P] [Q] [R] [Z] [F]   28  1061.0   830.0   738.0   2629.0
Soviet Union (URS) [URS]                   9   395.0   319.0   296.0   1010.0
Great Britain (GBR) [GBR] [Z]             29   284.0   318.0   314.0    916.0
China (CHN) [CHN]                         11   263.0   199.0   174.0    636.0
...                                       ..     ...     ...     ...      ...
Paraguay (PAR)                            13     0.0     1.0     0.0      1.0
Olympic Athletes from Russia (OAR) [OAR]   0     0.0     0.0     0.0      0.0
San Marino (SMR)                          15     0.0     1.0     2.0      3.0
Saudi Arabia (KSA)                        12     0.0     2.0     2.0      4.0
Lebanon (LBN)                             18     0.0     2.0     2.0      4.0

[157 rows x 5 columns]

In [49]:
#엑셀 파일로 저장
summer.to_excel('하계올림픽메달.xlsx')